# Ignore configuration files that may contain sensitive information.
www/sites/*/settings.php

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private


# Ignore the Backup directory
backup
